body{
    p {
        color: blue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
    }

    h1{
        color:aqua;
        font-size: 50;
    }

    h2 {
        color: aquamarine;
        font-size: 50;
    }

    h3 {
        color:chocolate;
        font-size: 50;
    }

    h4 {
        color: blueviolet;
        font-size: 50;
    }

    h5 {
        color: brown;
        font-size: 50;
    }

    h6 {
        color:chartreuse;
        font-size: 100;
    }
}